In [1]:
import numpy as np
import pandas as pd
import timeit

In [7]:
df = pd.read_csv('household_power_consumption.txt', sep=';', low_memory=False, 
                 infer_datetime_format=True, parse_dates={'datetime':[0,1]})

In [8]:
df.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,2006-12-16 17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,2006-12-16 17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 8 columns):
datetime                 datetime64[ns]
Global_active_power      object
Global_reactive_power    object
Voltage                  object
Global_intensity         object
Sub_metering_1           object
Sub_metering_2           object
Sub_metering_3           float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 126.7+ MB

In [10]:
from numpy import nan
df.replace('?', nan, inplace=True)

In [11]:
df.shape

(2075259, 8)

In [17]:
df = df.dropna()

In [18]:
df.shape

(2049280, 8)

In [29]:
df = df.apply(pd.to_numeric)

In [31]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2049280 entries, 0 to 2075258
Data columns (total 8 columns):
datetime                 datetime64[ns]
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 220.7 MB

In [33]:
df.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

#### Данный датасет теперь очищен от пустых значений, типы данных приведены к тому, чтобы было удобно выполнять задания

### 1.	Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [34]:
df.loc[df['Global_active_power'] >= 5][:10]

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16 17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16 17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
13,2006-12-16 17:37:00,5.268,0.398,232.91,22.6,0.0,2.0,17.0
20,2006-12-16 17:44:00,5.894,0.000,232.69,25.4,0.0,0.0,16.0
21,2006-12-16 17:45:00,7.706,0.000,230.98,33.2,0.0,0.0,17.0
22,2006-12-16 17:46:00,7.026,0.000,232.21,30.6,0.0,0.0,16.0
23,2006-12-16 17:47:00,5.174,0.000,234.19,22.0,0.0,0.0,17.0

In [37]:
%timeit value = df[df['Global_active_power'] >= 5]

8.16 ms ± 178 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### 2.  Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [38]:
df.loc[df['Voltage'] >= 235][:10]

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16 17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16 17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16 17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16 17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
15,2006-12-16 17:39:00,3.384,0.282,237.14,14.2,0.0,0.0,17.0
16,2006-12-16 17:40:00,3.270,0.152,236.73,13.8,0.0,0.0,17.0
17,2006-12-16 17:41:00,3.430,0.156,237.06,14.4,0.0,0.0,17.0
18,2006-12-16 17:42:00,3.266,0.000,237.13,13.8,0.0,0.0,18.0
19,2006-12-16 17:43:00,3.728,0.000,235.84,16.4,0.0,0.0,17.0

In [39]:
%timeit df.loc[df['Voltage'] >= 235]

232 ms ± 26.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### 3.  Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [40]:
df[(df['Sub_metering_2'] > df['Sub_metering_3']) & df['Global_intensity'].between(19,20)][:10]

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16 18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17 01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17 01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17 01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17 01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
477,2006-12-17 01:21:00,4.652,0.142,237.92,19.4,0.0,36.0,0.0
508,2006-12-17 01:52:00,4.622,0.240,239.59,19.2,0.0,37.0,0.0
944,2006-12-17 09:08:00,4.762,0.088,237.44,20.0,0.0,38.0,0.0
945,2006-12-17 09:09:00,4.506,0.088,237.25,19.0,0.0,38.0,0.0
1051,2006-12-17 10:55:00,4.444,0.136,235.97,19.2,2.0,50.0,17.0

In [41]:
%timeit df[(df['Sub_metering_2'] > df['Sub_metering_3']) & df['Global_intensity'].between(19,20)]

48.2 ms ± 9.03 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

### 4.	Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії

In [105]:
df_sample = df.sample(500000, random_state=42) #random state для того, чтобы при повторе воспроизводились те же резалты

In [43]:
df_sample.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1030580,2008-12-01 09:44:00,1.502,0.074,240.17,6.4,0.0,0.0,18.0
1815,2006-12-17 23:39:00,0.374,0.264,245.50,1.8,0.0,2.0,0.0
1295977,2009-06-03 17:01:00,0.620,0.300,239.85,3.0,0.0,1.0,1.0
206669,2007-05-09 05:53:00,0.280,0.200,235.72,1.4,0.0,0.0,0.0
1048893,2008-12-14 02:57:00,1.372,0.054,243.95,5.6,0.0,0.0,18.0

In [106]:
print(df_sample['Sub_metering_1'].mean(), df_sample['Sub_metering_2'].mean(), df_sample['Sub_metering_3'].mean())

1.119258 1.308912 6.45295

In [46]:
%timeit df_sample['Sub_metering_1'].mean(), df_sample['Sub_metering_2'].mean(), df_sample['Sub_metering_3'].mean()

3.36 ms ± 281 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### 5.	Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [53]:
df_18 = df[(df['datetime'].dt.hour >= 18) & (df['Global_active_power'] + df['Global_reactive_power'] >= 6)]

In [54]:
df_18.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16 18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
42,2006-12-16 18:06:00,6.752,0.186,232.12,29.0,0.0,36.0,17.0
43,2006-12-16 18:07:00,6.474,0.144,231.85,27.8,0.0,37.0,16.0
44,2006-12-16 18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
71,2006-12-16 18:35:00,6.072,0.000,232.48,26.4,0.0,27.0,17.0

In [55]:
df_18_2 = df_18[(df_18['Sub_metering_2'] > df_18['Sub_metering_1']) & (df_18['Sub_metering_2'] > df_18['Sub_metering_3'])]

In [56]:
df_18_2.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16 18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
42,2006-12-16 18:06:00,6.752,0.186,232.12,29.0,0.0,36.0,17.0
43,2006-12-16 18:07:00,6.474,0.144,231.85,27.8,0.0,37.0,16.0
44,2006-12-16 18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
71,2006-12-16 18:35:00,6.072,0.000,232.48,26.4,0.0,27.0,17.0

In [65]:
length = int(df_18_2.shape[0] / 2)

In [60]:
length

714.0

In [66]:
df_18_2[:length].iloc[::3,:]

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16 18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16 18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
4495,2006-12-19 20:19:00,5.586,0.424,236.01,23.8,0.0,35.0,0.0
17497,2006-12-28 21:01:00,7.062,0.270,235.76,30.2,2.0,65.0,17.0
17500,2006-12-28 21:04:00,7.376,0.238,234.67,31.4,1.0,72.0,17.0
17503,2006-12-28 21:07:00,7.248,0.000,235.34,30.8,1.0,72.0,17.0
17506,2006-12-28 21:10:00,7.160,0.000,235.49,30.4,1.0,73.0,18.0
17509,2006-12-28 21:13:00,9.132,0.084,231.27,39.4,36.0,71.0,16.0
17512,2006-12-28 21:16:00,8.046,0.114,231.77,35.0,36.0,52.0,16.0
17517,2006-12-28 21:21:00,7.124,0.148,234.33,30.4,37.0,38.0,17.0
18954,2006-12-29 21:18:00,6.150,0.118,230.77,26.6,0.0,70.0,0.0
18957,2006-12-29 21:21:00,6.412,0.136,230.49,27.8,0.0,70.0,0.0
18960,2006-12-29 21:24:00,6.150,0.000,230.71,26.6,0.0,70.0,0.0
18964,2006-12-29 21:28:00,6.692,0.000,228.77,29.2,0.0,69.0,17.0
19023,2006-12-29 22:27:00,6.976,0.376,235.12,29.6,0.0,74.0,17.0
19026,2006-12-29 22:30:00,6.638,0.262,234.23,28.2,0.0,73.0,17.0
19029,2006-12-29 22:33:00,6.300,0.282,235.02,26.8,0.0,73.0,17.0
31717,2007-01-07 18:01:00,6.392,0.000,229.54,27.8,0.0,69.0,17.0
31720,2007-01-07 18:04:00,6.608,0.000,230.91,28.6,0.0,70.0,17.0
31723,2007-01-07 18:07:00,6.516,0.048,230.88,28.2,0.0,70.0,17.0
31731,2007-01-07 18:15:00,7.002,0.550,231.83,30.8,0.0,36.0,17.0
31734,2007-01-07 18:18:00,5.572,0.592,232.49,24.4,0.0,37.0,17.0
31917,2007-01-07 21:21:00,6.014,0.332,235.53,25.8,28.0,36.0,17.0
34765,2007-01-09 20:49:00,6.112,0.116,233.81,26.2,0.0,36.0,18.0
34768,2007-01-09 20:52:00,8.278,0.088,231.50,35.6,0.0,71.0,17.0
34771,2007-01-09 20:55:00,7.654,0.158,233.82,32.6,0.0,72.0,17.0
34774,2007-01-09 20:58:00,7.946,0.230,233.14,34.0,0.0,72.0,17.0
34777,2007-01-09 21:01:00,7.336,0.150,234.22,31.2,0.0,72.0,17.0
37578,2007-01-11 19:42:00,5.688,0.404,234.67,24.2,0.0,34.0,17.0
43331,2007-01-15 19:35:00,5.896,0.270,233.04,25.2,0.0,38.0,17.0
...,...,...,...,...,...,...,...,...
535781,2007-12-23 19:05:00,6.528,0.150,230.72,28.4,0.0,62.0,0.0
535784,2007-12-23 19:08:00,6.812,0.244,231.01,29.4,0.0,70.0,0.0
535787,2007-12-23 19:11:00,6.736,0.260,231.57,29.0,0.0,71.0,0.0
535793,2007-12-23 19:17:00,5.784,0.454,233.01,24.8,0.0,36.0,12.0
535796,2007-12-23 19:20:00,5.906,0.428,232.73,25.4,0.0,36.0,17.0
535811,2007-12-23 19:35:00,6.696,0.602,233.71,29.0,11.0,39.0,17.0
535816,2007-12-23 19:40:00,7.642,0.424,233.36,32.8,37.0,38.0,16.0
535822,2007-12-23 19:46:00,6.250,0.524,233.51,27.2,18.0,21.0,16.0
535825,2007-12-23 19:49:00,5.640,0.510,235.62,24.4,6.0,21.0,17.0
535829,2007-12-23 19:53:00,5.738,0.386,235.14,24.4,0.0,31.0,17.0
535834,2007-12-23 19:58:00,5.646,0.408,235.12,24.2,0.0,29.0,17.0
541716,2007-12-27 22:00:00,6.972,0.000,231.35,30.2,31.0,34.0,17.0
542918,2007-12-28 18:02:00,6.408,0.238,236.30,27.2,0.0,59.0,17.0
542921,2007-12-28 18:05:00,7.036,0.234,235.22,29.8,0.0,74.0,17.0
542924,2007-12-28 18:08:00,6.954,0.314,235.82,29.4,0.0,74.0,17.0
542927,2007-12-28 18:11:00,6.758,0.328,236.90,28.6,0.0,69.0,17.0
542931,2007-12-28 18:15:00,6.470,0.218,238.09,27.4,0.0,64.0,17.0
594832,2008-02-02 19:16:00,6.600,0.340,231.41,28.8,27.0,34.0,16.0
594845,2008-02-02 19:29:00,6.220,0.568,232.31,26.8,1.0,36.0,16.0
594853,2008-02-02 19:37:00,6.162,0.608,232.39,26.6,1.0,36.0,17.0
594858,2008-02-02 19:42:00,7.076,0.546,228.62,31.2,21.0,35.0,17.0
594861,2008-02-02 19:45:00,7.220,0.564,229.54,31.8,19.0,35.0,16.0
594866,2008-02-02 19:50:00,6.522,0.480,232.60,28.0,1.0,36.0,17.0
604990,2008-02-09 20:34:00,5.890,0.488,235.09,25.0,0.0,37.0,17.0
604998,2008-02-09 20:42:00,5.592,0.466,235.99,24.0,0.0,37.0,17.0
620794,2008-02-20 19:58:00,6.218,0.264,237.28,27.0,16.0,36.0,0.0
620800,2008-02-20 20:04:00,6.460,0.252,236.03,28.0,27.0,36.0,0.0
640866,2008-03-05 18:30:00,6.276,0.172,234.28,26.8,0.0,68.0,0.0
640869,2008-03-05 18:33:00,6.506,0.256,233.94,27.8,0.0,72.0,0.0
640872,2008-03-05 18:36:00,6.524,0.286,233.65,27.8,0.0,72.0,0.0

In [67]:
df_18_2[length+1:].iloc[::4,:]

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
641051,2008-03-05 21:35:00,6.566,0.000,233.93,28.0,1.0,36.0,17.0
641055,2008-03-05 21:39:00,7.302,0.062,233.13,31.6,21.0,35.0,16.0
641083,2008-03-05 22:07:00,5.936,0.110,233.84,25.4,1.0,35.0,17.0
641089,2008-03-05 22:13:00,6.204,0.232,234.29,26.4,1.0,37.0,17.0
652537,2008-03-13 21:01:00,5.968,0.092,229.27,26.0,4.0,34.0,16.0
666900,2008-03-23 20:24:00,6.124,0.190,233.99,26.4,0.0,55.0,17.0
666904,2008-03-23 20:28:00,7.268,0.192,233.61,31.0,0.0,72.0,17.0
666908,2008-03-23 20:32:00,6.654,0.178,233.40,28.4,0.0,73.0,16.0
666912,2008-03-23 20:36:00,6.708,0.180,234.10,28.6,0.0,73.0,16.0
707255,2008-04-20 20:59:00,7.262,0.292,233.28,31.4,1.0,50.0,17.0
707259,2008-04-20 21:03:00,7.798,0.328,231.76,33.6,1.0,71.0,17.0
707263,2008-04-20 21:07:00,7.452,0.346,232.31,32.2,1.0,68.0,17.0
707267,2008-04-20 21:11:00,6.436,0.382,232.10,27.6,1.0,37.0,17.0
707271,2008-04-20 21:15:00,6.200,0.216,232.51,26.6,1.0,37.0,17.0
707284,2008-04-20 21:28:00,5.666,0.342,234.16,24.2,1.0,41.0,18.0
747546,2008-05-18 20:30:00,6.760,0.236,234.90,29.8,2.0,52.0,28.0
747550,2008-05-18 20:34:00,7.340,0.180,233.02,31.4,1.0,71.0,24.0
747563,2008-05-18 20:47:00,6.342,0.076,235.23,27.2,27.0,37.0,18.0
770727,2008-06-03 22:51:00,6.114,0.194,232.04,26.2,1.0,72.0,0.0
777860,2008-06-08 21:44:00,7.578,0.188,233.27,32.4,0.0,71.0,17.0
777864,2008-06-08 21:48:00,6.962,0.140,235.24,29.6,0.0,73.0,18.0
813852,2008-07-03 21:36:00,6.302,0.000,234.89,26.8,1.0,70.0,18.0
813856,2008-07-03 21:40:00,6.058,0.000,234.90,25.8,1.0,71.0,18.0
813861,2008-07-03 21:45:00,6.528,0.000,235.03,28.0,37.0,45.0,17.0
832537,2008-07-16 21:01:00,6.260,0.336,236.12,26.4,0.0,74.0,18.0
832541,2008-07-16 21:05:00,6.752,0.322,235.12,28.8,0.0,74.0,17.0
898647,2008-08-31 18:51:00,6.036,0.236,233.98,25.8,37.0,38.0,17.0
930413,2008-09-22 20:17:00,6.612,0.196,231.05,28.6,1.0,69.0,17.0
930417,2008-09-22 20:21:00,6.706,0.108,233.99,28.6,1.0,70.0,17.0
930429,2008-09-22 20:33:00,7.318,0.254,231.75,31.6,35.0,37.0,28.0
...,...,...,...,...,...,...,...,...
1654659,2010-02-07 19:03:00,6.000,0.268,232.44,26.6,26.0,30.0,0.0
1677873,2010-02-23 21:57:00,6.472,0.098,232.72,27.8,0.0,72.0,17.0
1677877,2010-02-23 22:01:00,6.546,0.092,234.48,27.8,0.0,73.0,17.0
1677881,2010-02-23 22:05:00,6.508,0.090,233.83,27.8,0.0,73.0,17.0
1694934,2010-03-07 18:18:00,5.770,0.230,234.71,25.0,0.0,71.0,1.0
1723751,2010-03-27 18:35:00,6.600,0.252,234.02,28.2,0.0,71.0,17.0
1723755,2010-03-27 18:39:00,6.564,0.074,232.95,28.0,0.0,71.0,17.0
1723759,2010-03-27 18:43:00,6.886,0.216,232.28,29.6,0.0,71.0,26.0
1775626,2010-05-02 19:10:00,7.330,0.000,232.51,31.6,27.0,72.0,17.0
1775630,2010-05-02 19:14:00,6.392,0.000,233.99,27.4,26.0,72.0,1.0
1775634,2010-05-02 19:18:00,6.266,0.166,232.63,27.0,24.0,71.0,0.0
1784392,2010-05-08 21:16:00,5.924,0.122,233.57,25.2,0.0,71.0,18.0
1810192,2010-05-26 19:16:00,6.508,0.212,230.71,28.2,0.0,69.0,11.0
1846230,2010-06-20 19:54:00,5.442,0.648,233.93,23.4,0.0,36.0,17.0
2008922,2010-10-11 19:26:00,5.862,0.338,230.98,25.4,0.0,70.0,0.0
2018960,2010-10-18 18:44:00,5.902,0.384,235.17,25.2,0.0,31.0,17.0
2018974,2010-10-18 18:58:00,5.818,0.234,236.69,24.6,0.0,34.0,17.0
2018986,2010-10-18 19:10:00,5.778,0.346,233.44,24.8,0.0,32.0,17.0
2018994,2010-10-18 19:18:00,5.888,0.378,235.04,25.0,0.0,33.0,18.0
2033377,2010-10-28 19:01:00,5.294,0.870,239.65,22.4,0.0,37.0,11.0
2043476,2010-11-04 19:20:00,6.184,0.638,235.97,26.8,23.0,35.0,1.0
2066455,2010-11-20 18:19:00,7.118,0.070,229.26,31.0,0.0,69.0,16.0
2066459,2010-11-20 18:23:00,9.656,0.068,225.43,42.8,44.0,67.0,16.0
2066463,2010-11-20 18:27:00,8.600,0.090,226.94,38.2,44.0,51.0,16.0
2066467,2010-11-20 18:31:00,6.830,0.394,229.39,30.2,24.0,34.0,16.0
2066471,2010-11-20 18:35:00,6.784,0.364,228.38,30.0,21.0,35.0,16.0
2066475,2010-11-20 18:39:00,6.362,0.372,229.83,28.0,16.0,35.0,16.0
2066479,2010-11-20 18:43:00,6.324,0.376,229.93,27.8,14.0,35.0,17.0
2066483,2010-11-20 18:47:00,6.000,0.246,229.50,26.4,9.0,40.0,16.0
2066488,2010-11-20 18:52:00,6.364,0.126,229.38,28.2,17.0,34.0,16.0





## NUMPY ARRAYS

In [68]:
arr = df.values

### 1.  Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [77]:
print(arr[arr[:,1]>5]) #index 1 - because 'Global_active_power' is second column

[[Timestamp('2006-12-16 17:25:00') 5.36 0.436 ... 0.0 1.0 16.0]
 [Timestamp('2006-12-16 17:26:00') 5.374 0.498 ... 0.0 2.0 17.0]
 [Timestamp('2006-12-16 17:27:00') 5.388 0.502 ... 0.0 1.0 17.0]
 ...
 [Timestamp('2010-11-24 07:50:00') 5.172000000000001 0.05 ... 0.0 38.0
  17.0]
 [Timestamp('2010-11-24 07:51:00') 5.75 0.0 ... 0.0 39.0 17.0]
 [Timestamp('2010-11-25 07:21:00') 5.074 0.24 ... 1.0 2.0 18.0]]

In [80]:
%timeit arr[arr[:,1]>5]

154 ms ± 5.22 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

### 2.  Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [82]:
print(arr[arr[:, 3] > 235])

[[Timestamp('2006-12-16 17:28:00') 3.6660000000000004 0.528 ... 0.0 1.0
  17.0]
 [Timestamp('2006-12-16 17:29:00') 3.52 0.522 ... 0.0 2.0 17.0]
 [Timestamp('2006-12-16 17:30:00') 3.702 0.52 ... 0.0 1.0 17.0]
 ...
 [Timestamp('2010-11-26 21:00:00') 0.938 0.0 ... 0.0 0.0 0.0]
 [Timestamp('2010-11-26 21:01:00') 0.934 0.0 ... 0.0 0.0 0.0]
 [Timestamp('2010-11-26 21:02:00') 0.932 0.0 ... 0.0 0.0 0.0]]

In [83]:
%timeit arr[arr[:, 3] > 235]

649 ms ± 37.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### 3.  Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [85]:
print(arr[(arr[:,4]>=19)&(arr[:,4]<=20)&(arr[:,6]>arr[:,7])])

[[Timestamp('2006-12-16 18:09:00') 4.4639999999999995 0.136 ... 0.0 37.0
  16.0]
 [Timestamp('2006-12-17 01:04:00') 4.582 0.258 ... 0.0 13.0 0.0]
 [Timestamp('2006-12-17 01:08:00') 4.618 0.10400000000000001 ... 0.0 27.0
  0.0]
 ...
 [Timestamp('2010-11-24 07:55:00') 4.602 0.0 ... 0.0 40.0 17.0]
 [Timestamp('2010-11-24 07:56:00') 4.5360000000000005 0.0 ... 0.0 39.0
  17.0]
 [Timestamp('2010-11-24 07:57:00') 4.626 0.0 ... 0.0 39.0 17.0]]

In [86]:
%timeit (arr[(arr[:,4]>=19)&(arr[:,4]<=20)&(arr[:,6]>arr[:,7])])

341 ms ± 2.95 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### 4.	Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії

In [93]:
np.random.seed(42)
arr_sample = arr[np.random.choice(arr.shape[0],size=50000, replace=False), :] #вот чтобы получить такие же данные, как и в df 
                                                                              #определяем рандом сид

In [98]:
arr_sample[:5] #видим, что результат тот же

array([[Timestamp('2008-12-01 09:44:00'), 1.5019999999999998,
        0.07400000000000001, 240.17, 6.4, 0.0, 0.0, 18.0],
       [Timestamp('2006-12-17 23:39:00'), 0.374, 0.264, 245.5, 1.8, 0.0,
        2.0, 0.0],
       [Timestamp('2009-06-03 17:01:00'), 0.62, 0.3, 239.85, 3.0, 0.0,
        1.0, 1.0],
       [Timestamp('2007-05-09 05:53:00'), 0.28, 0.2, 235.72, 1.4, 0.0,
        0.0, 0.0],
       [Timestamp('2008-12-14 02:57:00'), 1.3719999999999999,
        0.054000000000000006, 243.95, 5.6, 0.0, 0.0, 18.0]], dtype=object)

In [109]:
np.mean(arr_sample[:, 5], dtype=np.float64), np.mean(arr_sample[:, 6], dtype=np.float64), np.mean(arr_sample[:, 7], dtype=np.float64)

(1.15352, 1.28202, 6.50838)

In [111]:
df_sample.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1030580,2008-12-01 09:44:00,1.502,0.074,240.17,6.4,0.0,0.0,18.0
1815,2006-12-17 23:39:00,0.374,0.264,245.50,1.8,0.0,2.0,0.0
1295977,2009-06-03 17:01:00,0.620,0.300,239.85,3.0,0.0,1.0,1.0
206669,2007-05-09 05:53:00,0.280,0.200,235.72,1.4,0.0,0.0,0.0
1048893,2008-12-14 02:57:00,1.372,0.054,243.95,5.6,0.0,0.0,18.0

### 5.	Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [118]:

Timestamp=np.datetime64

In [130]:
dates = np.array(arr[:, 0], dtype='datetime64')

In [136]:
dates.hour

AttributeError: 'numpy.ndarray' object has no attribute 'hour'

In [138]:
arr[:, 0] > '2007'

TypeError: Cannot compare type 'Timestamp' with type 'str'

In [139]:
df_np = pd.read_csv('household_power_consumption.txt', sep=';', low_memory=False)

In [140]:
df_np.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2049280 entries, 0 to 2075258
Data columns (total 9 columns):
Date                     object
Time                     object
Global_active_power      object
Global_reactive_power    object
Voltage                  object
Global_intensity         object
Sub_metering_1           object
Sub_metering_2           object
Sub_metering_3           float64
dtypes: float64(1), object(8)
memory usage: 156.3+ MB

In [143]:
from numpy import nan
df_np.replace('?', nan, inplace=True)

In [144]:
df_np = df_np.dropna()

In [152]:
arr_np = df_np.values

In [156]:
arr_np[(arr_np[:, 1] > '18:00:00') & (arr_np[:, 2] + arr_np[:, 3] > 6)]

TypeError: '>' not supported between instances of 'str' and 'int'

In [163]:
df_np.iloc[:, 2:] = df_np.iloc[:, 2:].apply(pd.to_numeric)

In [165]:
arr_np[(arr_np[:, 1] > '18:00:00')]

array([['16/12/2006', '18:01:00', '2.624', ..., '0.000', '0.000', 17.0],
       ['16/12/2006', '18:02:00', '2.772', ..., '0.000', '0.000', 17.0],
       ['16/12/2006', '18:03:00', '3.740', ..., '0.000', '16.000', 18.0],
       ...,
       ['26/11/2010', '21:00:00', '0.938', ..., '0.000', '0.000', 0.0],
       ['26/11/2010', '21:01:00', '0.934', ..., '0.000', '0.000', 0.0],
       ['26/11/2010', '21:02:00', '0.932', ..., '0.000', '0.000', 0.0]],
      dtype=object)

In [166]:
arr_np = df_np.values

In [179]:
arr_npf = arr_np[(arr_np[:, 1] >= '18:00:00') & (arr_np[:, 2] + arr_np[:, 3] >= 6)& (arr_np[:, 7] > arr_np[:, 6]) &(arr_np[:, 7] > arr_np[:, 8])]

In [173]:
arr_npf[::2]

array([['16/12/2006', '18:05:00', 6.0520000000000005, ..., 0.0, 37.0,
        17.0],
       ['16/12/2006', '18:07:00', 6.474, ..., 0.0, 37.0, 16.0],
       ['16/12/2006', '18:35:00', 6.072, ..., 0.0, 27.0, 17.0],
       ...,
       ['20/11/2010', '18:47:00', 6.0, ..., 9.0, 40.0, 16.0],
       ['20/11/2010', '18:49:00', 6.21, ..., 21.0, 34.0, 17.0],
       ['20/11/2010', '18:52:00', 6.364, ..., 17.0, 34.0, 16.0]],
      dtype=object)

In [185]:
arr_len = int(arr_npf.shape[0] / 2)

In [187]:
arr_npf[:arr_len][::3]

array([['16/12/2006', '18:05:00', 6.0520000000000005, ..., 0.0, 37.0,
        17.0],
       ['16/12/2006', '18:08:00', 6.308, ..., 0.0, 36.0, 17.0],
       ['19/12/2006', '20:19:00', 5.586, ..., 0.0, 35.0, 0.0],
       ...,
       ['5/3/2008', '18:30:00', 6.276, ..., 0.0, 68.0, 0.0],
       ['5/3/2008', '18:33:00', 6.506, ..., 0.0, 72.0, 0.0],
       ['5/3/2008', '18:36:00', 6.524, ..., 0.0, 72.0, 0.0]], dtype=object)

In [190]:
arr_npf[arr_len+1:][::4]

array([['5/3/2008', '21:35:00', 6.566, ..., 1.0, 36.0, 17.0],
       ['5/3/2008', '21:39:00', 7.3020000000000005, ..., 21.0, 35.0,
        16.0],
       ['5/3/2008', '22:07:00', 5.936, ..., 1.0, 35.0, 17.0],
       ...,
       ['20/11/2010', '18:43:00', 6.324, ..., 14.0, 35.0, 17.0],
       ['20/11/2010', '18:47:00', 6.0, ..., 9.0, 40.0, 16.0],
       ['20/11/2010', '18:52:00', 6.364, ..., 17.0, 34.0, 16.0]],
      dtype=object)